.space{
    padding : 5px;
}
 .table-bordered td{
     text-align : center;
 }
.table-bordered td:hover{
    background-color:#dc3545!important;
    cursor : pointer;
}
.bg-danger td{
    text-align : center; 
}
.selected{
    background-color : #28a745!important;
    color: #fff!important;
}
.today{
   
   background-color: #ffc107!important;
   color: #343a40!important;
}
.disabled{
    cursor:not-allowed;
    background-color: #6c757d!important; 
    color: #fff!important;
}
a{
    cursor:pointer;
}